
    <header class="container">
                <h3>Add Two Numbers!</h3>
            <form>
                <label>FIRST NUMBER:</label>
                <input id="number1" type="number"/>
                <label>SECOND NUMBER:</label>
                <input id="number2" type="number"/>
                <input type="submit" value="ADD 'EM UP!" />
            </form>