<header class="page-header header container-fluid">
    <div class="overlay"></div>
    <header class="container-fluid">
        <div class="row">
        <div class="col-sm-4">
            <div class = "d-flex justify-content-end">
            <img src="../images/img.png" class="img-thumbnail" alt="image of meeeeeee">
        </div>
        </div>
    
    <div class="col-sm-6">
        <div class="caption">
            <h1>Izabella Palange</h1>
            <p>Senior CS student at UAlbany! Enthusiast of video games, movies, television with an interest in IT and security!</p>
        </div>
    </div>
</div>